@import "../../../styles/_colors.scss";

/*****
 * GLOBAL STYLE
 */

 body {
    background-color: #F5F5F5;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar-brand img {
    height: 50px;
}

body > main {
    overflow: auto;
}

/* global style */
.bg-primary * {
    color: #cb2468;
}

.bg-dark * {
    color: #FCFCFC;
}


/*****
 * Card Component
 */
// card.component.scss
.card-cmp {
    position: relative;
    display: inline-block !important;

    width: 14%;


.card-wrapper {
    position: relative;
    transform-style: preserve-3d;
    transition: all .5s;
}

.card-wrapper:hover {
    cursor: pointer;
}

.card-wrapper:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card-wrapper .front-face,
.card-wrapper .back-face {
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.card-wrapper .front-face {
    transform: rotateY(180deg);
}

.card-wrapper .back-face {
    position: absolute;
    top:0;
}

.card-wrapper.flip {
    transform: rotateY(180deg);
}
}